* {
  font-size: calc(0.75em + 1vmin);
}

body {
  margin: 10px auto;
  width: 90%;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  box-sizing: border-box;
}

#nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: #999;
  cursor: pointer;
}

textarea {
 resize: none;
 padding: 0.5rem;
}

button {
  padding: 0.5rem 1.25rem;
  cursor: pointer;
}

input {
  padding: 0.5rem;
}

ul {
  list-style-type: none;
}

.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

.posts li {
  list-style: none;
}

#txt-content {
  width: 100%;
  max-height: 1000px;
}

#txt-title {
  width: 100%;
}

#list-note {
  background-color: aliceblue;
  padding: 1rem;
}

#list-note .note-item {
  margin: 3rem 0;
}

#list-note .note-item .note-edit {
  color: lightseagreen;
}

img[alt="img1"] {
  width: 100%;
}

#tit {
  font-size: xx-large;
  font-size: xxx-large;
}

#pagination {
  margin: 4rem 0;
}

#pagination a {
  background-color: beige;
  margin: 0 0.75rem;
}

#current-page {
  color: black;
  pointer-events: none;
}

.hidden-page {
  display: none;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (min-width: 1000px) {
  body {
    margin: 60px auto;
    width: 70%;
  }
}

@media only screen and (min-width: 320px) {
  #pagination a {
    font-size: 7vw;
  }
}
