* {
  font-size: calc(0.75em + 1vmin);
}

body {
  margin: 10px auto;
  width: 90%;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  box-sizing: border-box;
}

footer {
  margin-top: 2rem;
}

#nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

textarea {
  resize: none;
  padding: 0.5rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
}

input {
  padding: 0.5rem;
}

ul {
  list-style-type: none;
}

.sub-txt {
  color: #999;
}

.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

.posts li {
  list-style: none;
}

#txt-content {
  width: 100%;
  max-height: 1000px;
}

#txt-title {
  width: 100%;
}

#list-note {
  background-color: aliceblue;
  padding: 1rem;
}

#list-note .note-item {
  margin: 3rem 0;
}

#list-note .note-item .note-edit {
  color: lightseagreen;
}

img[alt="img1"] {
  width: 100%;
}

#tit {
  font-size: xx-large;
  font-size: xxx-large;
}

.fx {
  display: flex;
}
.wr {
  flex-wrap: wrap;
}

.space-b {
  justify-content: space-between;
}

.space-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

.pc-80 {
  width: 80%;
}

.pc-20 {
  width: 20%;
}

.mr-1 {
  margin: 0.5rem;
}

.yel-color {
  color: #fed766;
}

.red-color {
  color: #fe4a49;
}

.blu-color {
  color: #0392cf;
}

.gre-color {
  color: #7bc043;
}

#pagination {
  margin: 4rem 0;
}

#pagination div {
  background-color: beige;
  margin: 0.5rem;
  padding: 0 1rem;
}

#current-page {
  color: black;
  pointer-events: none;
}

.hidden-page {
  display: none;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 0.5rem;
  flex: 8;
  height: 100%;
  outline: none;
}

.search-box button {
  flex: 1;
}

.box-ver {
  margin-top: 1rem;
}

#top-btn {
  display: none;
}

.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 2rem;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  color: #555;
  border-color: #555;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #555;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ddd;
  color: #444;
}

.modal-body {
  padding: 5px 16px;
}

.modal-footer {
  padding: 5px 16px;
  background-color: #ddd;
  color: white;
  display: flex;
  justify-content: right;
}

#list-tag .tag-item {
  width: fit-content;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (min-width: 1000px) {
  body {
    margin: 60px auto;
    width: 70%;
  }
}

@media only screen and (min-width: 320px) {
  #pagination a {
    font-size: 7vw;
  }
}
